.card-style {
    width: 600px;
    padding: 20px;
    height: 400px;
}
 .card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
} 
.content {
    height: 100vh;
    width: 100%;
    background: #82cbed;
background: radial-gradient(circle,rgba(130, 203, 237, 1) 0%, rgba(144, 204, 55, 1) 68%, rgba(237, 221, 83, 1) 100%);
}